@import "./partials/variables";
@import "./partials/font";
@import "./partials/base";
@import "./partials/header";

$editorHeader: 70px;
$editorRight: 360px;
$toolbarWidth: 28px;
$toolbarHeight: 28px;

.main {
  &__wrap {
    position: relative;
    width: 100%;
  }
}

.editor {
  &__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: $editorHeader;
    background-color: $contentBackground;
    border-bottom: 1px solid $borderColor;
  }

  &__message {
    position: fixed;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    z-index: 1000;

    .alert {
      display: flex;
      font-size: 15px;
      font-weight: 500;
      padding: 12px 20px;
      border: 1px solid transparent;
      border-radius: 4px;

      &.danger {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
      }

      &.success {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
      }
    }
  }

  &__title {
    position: relative;
    width: 100%;
    max-width: calc(100% - $editorRight);
    padding-left: 60px;

    input {
      display: block;
      width: 100%;
      height: auto;
      padding: 18px 0;
      background-color: transparent;
      font-size: 28px;
      font-weight: 700;
      outline: none;
      border: none;

      &::placeholder {
        opacity: 0.5;
      }
    }
  }

  &__action {
    flex-shrink: 1;
    display: flex;
    align-items: center;
    padding-right: 20px;

    .btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      font-weight: 500;
      padding: 10px 14px;
      background-color: transparent;
      color: $textColor;
      text-transform: capitalize;
      border-radius: 4px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
      transition: 0.1s ease;
      cursor: pointer;
      user-select: none;

      &:not(:last-child) {
        margin-right: 14px;
      }

      &-light {
        background-color: #fefefe;

        &:hover {
          background-color: rgba(0, 0, 0, 0.05);
        }
      }

      &-primary {
        color: $whiteColor;
        background-color: $primaryColor;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &__field {
    flex: 0 0 calc(100% - $editorRight);
    max-width: calc(100% - $editorRight);
  }

  &__toolbar {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: $contentBackground;
    padding: 10px 60px;
    margin-bottom: 20px;
    border-bottom: 1px solid $borderColor;

    .btn {
      position: relative;
      display: inline-flex;
      align-items: center;
      width: $toolbarWidth;
      height: $toolbarHeight;
      background-color: transparent;
      padding: 4px;
      margin: 0 2.5px;
      color: $textColor;
      font-size: 14px;
      border-radius: 4px;
      cursor: pointer;
      transition: 0.1s ease;

      svg {
        width: 20px;
        height: 20px;
        stroke-width: 1.5px;
        transition: 0.1s ease;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);

        svg {
          &:not(.line) {
            fill: $primaryColor;
          }

          &.line {
            stroke: $primaryColor;
          }
        }
      }
    }

    .separator {
      width: 1px;
      height: 18px;
      background-color: $iconColor;
      margin: 0 6px;
      opacity: 0.5;
    }

    .styled {
      position: relative;

      .header {
        display: inline-flex;
        align-items: center;
        font-size: 14px;
        width: auto;
        height: $toolbarHeight;
        padding: 4px;
        font-weight: 500;
        border-radius: 4px;
        cursor: pointer;
        user-select: none;

        > * {
          margin: 0 2.5px;
        }

        svg {
          width: 14px;
          height: 14px;
          stroke-width: 2px;
        }

        &:hover {
          color: $primaryColor;
          background-color: rgba(0, 0, 0, 0.05);

          svg.line {
            stroke: $primaryColor;
          }
        }
      }

      .dropdown {
        display: block;
        position: absolute;
        top: calc($toolbarHeight + 8px);
        left: -14px;
        right: -14px;
        list-style: none;
        margin: 0;
        padding: 0;
        min-width: 180px;
        max-height: 0;
        background-color: $contentBackground;
        border: 1px solid $borderColor;
        border-top: none;
        border-radius: 0 0 4px 4px;
        transition: 0.1s ease;
        opacity: 0;
        visibility: hidden;
        z-index: 3;
        overflow: hidden;

        &.s {
          max-height: 100vh;
          opacity: 1;
          visibility: visible;
        }

        .btn {
          display: block;
          padding: 10px 14px;
          font-weight: 500;
          margin: 0;
          width: auto;
          height: auto;

          &:hover {
            color: $primaryColor;
          }
        }
      }
    }
  }

  &__modal {
    &-wrap {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 10;
    }

    &-inner {
      position: relative;
      width: 100%;
      max-width: 400px;
      background-color: $contentBackground;
      padding: 20px;
      border-radius: 4px;
      z-index: 3;

      > *:not(:last-child) {
        margin-bottom: 36px;
      }
    }

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-title {
      font-size: 16px;
    }

    &-close {
      outline: 0;
      border: 0;
      padding: 0;
      background-color: transparent;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      svg {
        width: 16px;
        height: 16px;
      }
    }

    &-group {
      margin-bottom: 20px;

      &.images {
        input[type="file"] {
          ~ label {
            display: inline-flex;
            align-items: center;
            font-size: 14px;
            font-weight: 500;
            padding: 8px;
            margin: 0;
            background-color: var(--krc-border-color);
            border-radius: 4px;
            cursor: pointer;
            user-select: none;

            svg {
              width: 20px;
              height: 20px;
              margin-right: 6px;
              transition: 0.1s ease;
            }

            &:hover {
              color: $primaryColor;
              background-color: rgba(0, 0, 0, 0.05);

              svg {
                fill: $primaryColor;
              }
            }
          }
        }
      }

      input[type="text"] {
        display: block;
        width: 100%;
        padding: 12px 10px;
        background-color: transparent;
        font-size: 14px;
        outline: none;
        border: 1px solid $borderColor;
        border-radius: 4px;
      }

      label {
        display: inline-block;
        margin-bottom: 6px;
        font-size: 14px;
        font-weight: 500;
      }

      input[type="checkbox"] {
        & ~ label {
          position: relative;
          display: inline-flex;
          align-items: center;
          user-select: none;
          padding-left: 20px;
          margin: 0;
          cursor: pointer;
          user-select: none;

          &::before {
            content: "";
            position: absolute;
            left: 0;
            display: block;
            width: 15px;
            height: 15px;
            background-color: transparent;
            border: 1px solid rgba(0, 0, 0, 0.4);
            border-radius: 2px;
            transition: 0.1s ease;
          }
        }

        &:checked ~ label {
          &::before {
            background-color: $primaryColor;
            border-color: $primaryColor;
          }

          &::after {
            content: "";
            position: absolute;
            left: 3px;
            top: 5px;
            display: block;
            width: 10px;
            height: 5px;
            border-width: 0 0 1.5px 1.5px;
            border-style: solid;
            border-color: $whiteColor;
            transform: rotate(-45deg);
          }
        }
      }
    }

    &-images {
      display: none;
      width: 140px;
      height: auto;
      margin-bottom: 20px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      aspect-ratio: 16 / 9;
      border-radius: 4px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
      overflow: hidden;
    }

    &-button {
      display: flex;
      justify-content: flex-end;

      > *:not(:last-child) {
        margin-right: 8px;
      }

      .btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        font-weight: 500;
        padding: 8px 10px;
        background-color: transparent;
        color: #273239;
        border-radius: 4px;
        transition: 0.1s ease;
        cursor: pointer;
        user-select: none;

        &-danger {
          color: $whiteColor;
          background-color: #dc3545;
        }

        &-primary {
          color: $whiteColor;
          background-color: $primaryColor;
        }
      }
    }

    &-overlay {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100vh;
      width: 100vw;
      background-color: rgba(0, 0, 0, 0.25);
      opacity: 1;
      visibility: visible;
      backdrop-filter: blur(10px) saturate(80%);
      z-index: 2;
      transition: 0.1s ease;
    }
  }

  &__contenteditable {
    position: relative;
    display: block;
    width: 100%;
    max-width: 780px;
    min-height: 64vh;
    margin: 0 auto;
    background-color: $contentBackground;
    border: none;
    outline: none;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    iframe {
      width: 100%;
      min-height: inherit;
    }
  }

  &__forms {
    flex-shrink: 0;
    position: relative;
    width: $editorRight;
    z-index: 1;

    &-container {
      position: relative;
    }

    &-content {
      position: relative;
      display: flex;
      height: calc(100vh - ($headerHeight + $editorHeader + 1px));
      background-color: $contentBackground;
      border-left: 1px solid $borderColor;
    }

    &-inner {
      width: 100%;
      padding: 20px 40px 20px 20px;
      overflow-y: visible;
      overflow-x: hidden;
    }

    &-group {
      position: relative;
      width: 100%;
      margin-bottom: 30px;

      label {
        display: inline-block;
        margin-bottom: 6px;
        font-size: 14px;
        font-weight: 500;
      }

      input {
        display: block;
        width: 100%;
        padding: 12px 10px;
        background-color: transparent;
        font-size: 14px;
        outline: none;
        border: 1px solid $borderColor;
        border-radius: 4px;
      }
    }

    &-published {
      display: flex;
      align-items: center;
      justify-content: space-between;

      > *:first-child {
        flex: 0 0 60%;
        max-width: 60%;
      }

      > *:last-child {
        flex: 0 0 38%;
        max-width: 38%;
      }
    }

    &-details {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      border-bottom: 1px solid $borderColor;
      padding: 16px 0;

      summary {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        font-weight: 500;
        padding: 2px 0 6px;
        outline: 0;
        cursor: pointer;
        user-select: none;

        svg {
          width: 16px;
          height: 16px;
          stroke-width: 1.5px;
          transition: 0.1s ease;
          transform: rotate(-90deg);
        }
      }

      &[open] summary svg {
        transform: rotate(0);
      }

      .content {
        padding-top: 16px;
        padding-left: 5px;

        label {
          font-size: 13px;
          opacity: 0.95;
        }
      }
    }

    &-featured {
      input:checked ~ {
        label {
          &::before {
            background-color: $primaryColor;
            border-color: $primaryColor;
          }

          &::after {
            content: "";
            position: absolute;
            left: 3px;
            top: 5px;
            display: block;
            width: 10px;
            height: 5px;
            border-width: 0 0 1.5px 1.5px;
            border-style: solid;
            border-color: $whiteColor;
            transform: rotate(-45deg);
          }
        }
      }

      label {
        position: relative;
        display: inline-flex;
        align-items: center;
        font-size: 14px;
        font-weight: 500;
        user-select: none;
        padding-left: 20px;
        cursor: pointer;
        user-select: none;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          display: block;
          width: 15px;
          height: 15px;
          background-color: transparent;
          border: 1px solid rgba(0, 0, 0, 0.4);
          border-radius: 2px;
          transition: 0.1s ease;
        }
      }
    }
  }
}
