.header {
  &__wrap {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: $headerBackground;
    box-shadow: 0 2px 6px $borderColor;
    z-index: 11;

    .container {
      position: relative;
      display: flex;
      align-items: center;
      height: $headerHeight;
    }
  }

  &__icon {
    > ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;

      > li {
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 0 5px;
        height: $headerHeight;
      }
    }

    .icon {
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      background-color: rgba(0, 0, 0, 0.04);
      border-radius: 500px;
      cursor: pointer;
      user-select: none;

      &[for="search"] {
        display: none;

        @include breakpoint-max(lg) {
          display: inline-flex;
        }
      }

      &:hover {
        opacity: 1;
      }

      svg {
        width: 18px;
        height: 18px;

        &.line {
          stroke-width: 2px;
        }
      }
    }
  }

  &__left {
    display: flex;
    align-items: center;
    width: $sidebarWidth;
    padding: 0 0 0 20px;

    @include breakpoint-max(md) {
      padding: 0 0 0 10px;
    }

    .header__icon[data-button="hamburger"] {
      display: none;

      @include breakpoint-max(lg) {
        display: block;
      }
    }
  }

  &__title {
    display: inline-flex;
    align-items: center;

    @include breakpoint-max(sm) {
      display: none;
    }

    .image {
      width: 36px;
      height: 36px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      aspect-ratio: 1 / 1;
      border-radius: 10px;
      overflow: hidden;
    }

    .title {
      font-size: 20px;
      font-weight: 500;
      padding-left: 6px;
    }
  }

  &__right {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    @include breakpoint-max(md) {
      padding: 0 10px;
    }

    .header__icon {
      margin-left: auto;
    }
  }

  &__search {
    position: relative;
    width: 100%;

    @include breakpoint-max(lg) {
      position: fixed;
      top: $headerHeight;
      left: 0;
      right: 0;
      padding: 0 20px;
      margin: 0 auto;
      width: 100%;
      max-width: calc(100% + 40px);
      z-index: 3;
    }

    form {
      position: relative;
      width: 100%;
      max-width: 400px;

      @include breakpoint-max(lg) {
        max-width: 100%;
      }

      .overlay {
        display: none;

        @include breakpoint-max(lg) {
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          display: block;
          width: 100%;
          height: 100vh;
          background-color: transparent;
          opacity: 0;
          visibility: hidden;
          z-index: 1;
        }
      }
    }

    input {
      position: relative;
      display: block;
      width: 100%;
      padding: 14px 62px 14px 14px;
      background-color: $bodyBackground;
      font-size: 15px;
      outline: none;
      border: none;
      border-radius: 8px;
      z-index: 2;

      @include breakpoint-max(lg) {
        background-color: $whiteColor;
        padding-top: 18px;
        padding-bottom: 18px;
        margin-top: -100%;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
        transition: 0.1s ease;

        &:focus {
          margin: 0;
        }

        &:focus ~ .overlay {
          opacity: 1;
          visibility: visible;
          background-color: rgba(0, 0, 0, 0.08);
          backdrop-filter: blur(5px) saturate(120%);
        }
      }

      &::placeholder {
        opacity: 0.9;
      }

      &::-webkit-search-cancel-button {
        display: none;
      }

      &:focus ~ button[type="reset"],
      &:not(:placeholder-shown) ~ button[type="reset"] {
        opacity: 1;
      }
    }

    button {
      position: absolute;
      display: flex;
      align-items: center;
      justify-self: center;
      padding: 0;
      margin: 0;
      height: 100%;
      background-color: transparent;
      outline: none;
      border: none;
      z-index: 3;

      svg {
        width: 18px;
        height: 18px;
        stroke-width: 1.5px;
      }
    }

    button[type="submit"] {
      top: 0;
      right: 14px;
      opacity: 0.5;
    }

    button[type="reset"] {
      top: 0;
      right: 44px;
      font-size: 12px;
      font-weight: 500;
      transition: opacity 0.1s ease;

      &:empty {
        opacity: 0;
      }

      &::before {
        content: "\2715";
      }
    }
  }

  &__profile {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &.s {
      .dropdown {
        max-height: 100vh;
        opacity: 1;
        visibility: visible;
      }
    }

    .image {
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      aspect-ratio: 1 / 1;
      border-radius: 500px;
      overflow: hidden;
    }

    .dropdown {
      position: absolute;
      top: $headerHeight;
      right: 0;
      min-width: 200px;
      max-height: 0;
      background-color: $contentBackground;
      border: 1px solid $borderColor;
      border-radius: 4px;
      box-shadow: 0 2px 6px rgb(0, 0, 0, 0.09);
      opacity: 0;
      visibility: hidden;
      overflow: hidden;
      transition: 0.1s ease;
      z-index: 3;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      .link {
        display: block;
        padding: 10px 14px;
        color: $textColor;
        font-size: 14px;
        border-radius: 4px;

        &:hover {
          opacity: 1;
          background-color: rgba(0, 0, 0, 0.05);
        }
      }
    }
  }
}
