.content {
  &__wrap {
    position: relative;
    display: flex;
    width: 100%;
  }
}

.main {
  &__wrap {
    flex-grow: 1;
    padding-top: 20px;

    .container {
      padding: 0 20px;
    }
  }
}

.table {
  &__wrap {
    position: relative;
    width: 100%;
  }

  &__header {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;

    > *:first-child {
      width: 55%;
    }

    > * {
      width: 15%;
      padding: 0 10px;
    }

    > *:last-child {
      text-align: center;
    }
  }

  &__content {
    position: relative;
    width: 100%;
    padding-bottom: 20px;
  }

  &__item {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: $contentBackground;
    border-bottom: 1px solid $borderColor;
    box-shadow: 2px 2px 6px $borderColor;

    > *:first-child {
      width: 55%;
    }

    > * {
      width: 15%;
      padding: 10px;
      color: $textColor;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__noitem {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    font-size: 15px;
    font-weight: 500;
  }

  &__footer {
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 20px 0;
  }

  &__pagination ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;

    > * {
      margin: 0 5px;
    }

    .link {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      background-color: rgba(0, 0, 0, 0.05);
      color: $textColor;
      font-size: 15px;
      font-weight: 500;
      text-align: center;
      border-radius: 4px;
      transition: 0.1s ease;
      cursor: pointer;
      user-select: none;

      &.current {
        background-color: $primaryColor;
        color: $whiteColor;
        cursor: no-drop;
      }

      &.inactive {
        cursor: no-drop;
      }

      .icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        svg {
          width: 18px;
          height: 18px;
          stroke-width: 1.5;
          transition: 0.1s ease;
        }
      }

      &:not(.inactive):hover {
        opacity: 1;
        background-color: $primaryColor;
        color: $whiteColor;

        .icon svg {
          stroke: $whiteColor;
        }
      }
    }
  }
}

.post {
  &__detail {
    display: flex;
    align-items: center;
  }

  &__image {
    flex: 0 0 60px;
    max-width: 60px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 1 / 1;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.05);
    overflow: hidden;

    &-letter {
      flex: 0 0 60px;
      max-width: 60px;
      height: 60px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.05);
      font-size: 28px;
      font-weight: 800;
      border-radius: 2px;
    }
  }

  &__content {
    padding: 4px 0;
    padding-left: 10px;
  }

  &__title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 15px;
    font-weight: 800;
    text-overflow: ellipsis;
    padding-bottom: 4px;
    overflow: hidden;

    &.opacity-7 {
      opacity: 0.7;
    }
  }

  &__info {
    display: inline-flex;
    align-items: center;
    font-size: 13px;
    opacity: 0.9;

    > * {
      display: inline-flex;
      align-items: center;

      &:not(:last-child)::after {
        content: "";
        display: block;
        width: 4px;
        height: 4px;
        background-color: $iconColor;
        margin: 0 6px;
        border-radius: 500px;
      }
    }
  }

  &__category {
    font-weight: 500;

    &::before {
      content: "In";
      margin-right: 4px;
      font-weight: 400;
    }

    > *:not(:last-child)::after {
      content: ",";
      margin-right: 2px;
    }
  }

  &__author {
    font-size: 15px;
    font-weight: 500;
  }

  &__status span {
    display: inline-block;
    text-align: center;
    padding: 8px 10px;
    font-size: 13px;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 4px;

    &.draft {
      color: #fb2d8d;
      background-color: #fdd4e7;
    }

    &.published {
      color: #738393;
      background-color: #ebeef0;
    }
  }

  &__action {
    display: flex;
    align-items: center;
    justify-content: center;

    .button {
      position: relative;
      width: 30px;
      height: 30px;
    }

    .icon {
      display: inline-flex;
      cursor: pointer;
      user-select: none;

      svg {
        width: 30px;
        height: 30px;
      }
    }

    .dropdown {
      position: absolute;
      top: 30px;
      right: 0;
      list-style: none;
      padding: 0;
      margin: 0;
      min-width: 140px;
      max-height: 0;
      background-color: $contentBackground;
      border-radius: 4px 0 4px 4px;
      box-shadow: 0 2px 6px rgb(0, 0, 0, 0.09);
      opacity: 0;
      visibility: hidden;
      overflow: hidden;
      transition: 0.1s ease;
      z-index: 2;

      &.s {
        max-height: 100vh;
        opacity: 1;
        visibility: visible;
      }

      .link {
        display: flex;
        align-items: center;
        font-size: 13px;
        font-weight: 500;
        padding: 10px 8px;
        color: $textColor;
        background-color: transparent;
        border-radius: 4px;
        cursor: pointer;
        user-select: none;

        svg {
          width: 18px;
          height: 18px;
        }

        span {
          padding-left: 10px;
        }

        &:hover {
          opacity: 1;
          background-color: rgba(0, 0, 0, 0.05);
        }

        &.delete:hover {
          color: #721c24;
          background-color: #f8d7da;

          svg {
            stroke: #721c24;
          }
        }
      }
    }
  }
}

.modal {
  &__wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-top: 60px;
    z-index: 999;
  }

  &__inner {
    position: relative;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background-color: $contentBackground;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.09);
    z-index: 3;

    > *:not(:last-child) {
      margin-bottom: 14px;
    }
  }

  &__header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  &__title {
    font-size: 18px;
    font-weight: 500;
  }

  &__close {
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  &__message {
    font-size: 14px;
    line-height: 1.6em;
    opacity: 0.9;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    > *:not(:last-child) {
      margin-right: 8px;
    }

    .btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 13px;
      font-weight: 500;
      padding: 8px 10px;
      background-color: transparent;
      color: #273239;
      border-radius: 4px;
      transition: 0.1s ease;
      cursor: pointer;
      user-select: none;

      &-danger {
        color: $whiteColor;
        background-color: #dc3545;
      }

      &-light {
        background-color: $contentBackground;
        border: 1px solid rgba(0, 0, 0, 0.05);
        box-shadow: 0px 1px 8px rgb(0, 0, 0, 0.12);
      }
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.25);
    opacity: 1;
    visibility: visible;
    backdrop-filter: blur(10px) saturate(80%);
    z-index: 2;
    transition: 0.1s ease;
  }
}
