.content {
  &__wrap {
    position: relative;
    display: flex;
    width: 100%;
  }
}

.main {
  &__wrap {
    flex-grow: 1;
    padding-top: 20px;

    .container {
      padding: 0 20px;
    }
  }
}

.table {
  &__wrap {
    position: relative;
    width: 100%;
  }

  &__header {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;

    > *:first-child {
      width: 55%;
    }

    > * {
      width: 15%;
      padding: 0 10px;
    }

    > *:last-child {
      text-align: center;
    }
  }

  &__content {
    position: relative;
    width: 100%;
  }

  &__item {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: $contentBackground;
    border-bottom: 1px solid $borderColor;
    box-shadow: 2px 2px 6px $borderColor;

    > *:first-child {
      width: 55%;
    }

    > * {
      width: 15%;
      padding: 10px;
      color: $textColor;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__noitem {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    font-size: 15px;
    font-weight: 500;
  }
}

.post {
  &__detail {
    display: flex;
    align-items: center;
  }

  &__image {
    flex: 0 0 60px;
    max-width: 60px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 1 / 1;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.05);
    overflow: hidden;

    &-letter {
      flex: 0 0 60px;
      max-width: 60px;
      height: 60px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.05);
      font-size: 28px;
      font-weight: 800;
      border-radius: 2px;
    }
  }

  &__content {
    padding: 4px 0;
    padding-left: 10px;
  }

  &__title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 15px;
    font-weight: 800;
    text-overflow: ellipsis;
    padding-bottom: 4px;
    overflow: hidden;
  }

  &__info {
    display: inline-flex;
    align-items: center;
    font-size: 13px;
    opacity: 0.9;

    > * {
      display: inline-flex;
      align-items: center;

      &:not(:last-child)::after {
        content: "";
        display: block;
        width: 4px;
        height: 4px;
        background-color: $iconColor;
        margin: 0 6px;
        border-radius: 500px;
      }
    }
  }

  &__category {
    font-weight: 500;

    &::before {
      content: "In";
      margin-right: 4px;
      font-weight: 400;
    }

    > *:not(:last-child)::after {
      content: ",";
      margin-right: 2px;
    }
  }

  &__author {
    font-size: 15px;
    font-weight: 500;
  }

  &__status span {
    display: inline-block;
    text-align: center;
    padding: 8px 10px;
    font-size: 13px;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 4px;

    &.draft {
      color: #fb2d8d;
      background-color: #fdd4e7;
    }

    &.published {
      color: #738393;
      background-color: #ebeef0;
    }

    &.scheduled {
      color: #528297;
      background-color: #c1ecff;
    }
  }

  &__action {
    display: flex;
    align-items: center;
    justify-content: center;

    .more {
      display: inline-flex;
      cursor: pointer;
      user-select: none;

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}
