.sidebar {
  flex-shrink: 0;
  position: relative;
  width: $sidebarWidth;
  transition: 0.1s ease;
  z-index: 10;

  &__container {
    position: sticky;
    top: $headerHeight;
  }

  &__content {
    position: relative;
    display: flex;
    height: calc(100vh - $headerHeight);
    background-color: $sidebarBackground;
    box-shadow: 0 2px 6px $borderColor;
  }

  &__inner {
    position: relative;
    padding: 20px;
    padding-bottom: 170px;
    width: 100%;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      &:not([data-position="footer"]) {
        padding-top: 15px;
      }

      li {
        position: relative;
      }
    }

    ul[data-position="footer"] {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 0 20px 20px;
      background-color: $sidebarBackground;
    }

    .link {
      position: relative;
      left: -10px;
      right: -10px;
      display: flex;
      align-items: center;
      padding: 14px 10px;
      width: calc(100% + 20px);
      color: $textColor;
      font-size: 15px;
      font-weight: 500;
      border-radius: 6px;

      > * {
        margin: 0 5px;
      }

      &.active,
      &:hover {
        opacity: 1;
        color: $primaryColor;
        background-color: rgba(0, 0, 0, 0.05);

        svg {
          fill: $primaryColor;
        }
      }

      svg {
        width: 20px;
        height: 20px;
        transition: 0.1s ease;
      }
    }
  }

  &__button {
    padding-bottom: 20px;
    border-bottom: 1px solid $borderColor;

    .btn {
      display: inline-flex;
      align-items: center;
      padding: 14px 10px;
      background-color: $sidebarBackground;
      color: $textColor;
      font-size: 15px;
      font-weight: 500;
      border-radius: 10px;
      box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.12);

      &:hover {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.05);
      }

      > * {
        margin: 0 5px;
      }

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}
