$primaryColor: #1f28eb;
$titleColor: #273239;
$textColor: #273239;
$linkColor: #1f28eb;
$iconColor: #08102b;
$borderColor: rgba(0, 0, 0, 0.085);
$whiteColor: #ffffff;
$blackColor: #000000;
$dangerColor: #721c24;

$bodyBackground: #f5f7fb;
$headerBackground: #fefefe;
$sidebarBackground: #fefefe;
$contentBackground: #fefefe;
$footerBackground: #f7f7f7;
$dangerBackground: #f8d7da;

$dangerBorder: #f5c6cb;

$headerHeight: 64px;
$sidebarWidth: 280px;

$defaultFont: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
