<%- include("./partials/header") %>

<div class="content__wrap">
  <div class="container">
    <div class="content__inner">
      <main class="main">

      </main>
    </div>
  </div>
</div>

<%- include("./partials/footer") %>