/* Variable */
:root {
  --primary-color: #00459f;
  --header-bg: #454e5c;
  --menu-bg: #333333;
  --body-bg: #f2f2f2;
  --content-bg: #ffffff;
  --footer-bg: #333333;
  --title-color: #232323;
  --text-color: #353535;
  --white-color: #ffffff;
  --icon-color: #323232;
  --line-color: rgba(0, 0, 0, 0.08);

  --top-header-height: 40px;
  --middle-header-height: 120px;
  --bottom-header-height: 50px;
  --content-width: 1068px;

  --body-font: "Inter", sans-serif;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format("woff2");
}

/* Standar CSS */
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 0;
  font-weight: 800;
  color: var(--title-color);
}
h1,
.h1 {
  font-size: 1.9rem;
}
h2,
.h2 {
  font-size: 1.7rem;
}
h3,
.h3 {
  font-size: 1.5rem;
}
h4,
.h4 {
  font-size: 1.4rem;
}
h5,
.h5 {
  font-size: 1.3rem;
}
h6,
.h6 {
  font-size: 1.2rem;
}
a {
  color: var(--primary-color);
  text-decoration: none;
}
a:hover {
  opacity: 0.7;
  transition: opacity 0.15s;
}
table {
  border-spacing: 0;
}
iframe {
  max-width: 100%;
  border: 0;
  margin-left: auto;
  margin-right: auto;
}
input,
button,
select,
textarea {
  font: inherit;
  font-size: 100%;
  color: inherit;
  line-height: normal;
  vertical-align: baseline;
}
img {
  display: block;
  position: relative;
  max-width: 100%;
  height: auto;
}
svg {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
}
svg.line,
svg .line {
  fill: none !important;
  stroke: var(--icon-color);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1;
}
.hidden,
.replaced {
  display: none;
}
.invisible {
  visibility: hidden;
}
.clear {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  float: none;
  clear: both;
}
.cover {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  transition: 0.1s ease;
  background: transparent;
  opacity: 0;
  visibility: hidden;
}

/* Preloader */
.preloader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background-color: #f6f7f8;
  background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-repeat: no-repeat;
  background-size: 200% 100%;
  animation: shine 1.25s linear infinite forwards;
}

@keyframes shine {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
@-webkit-keyframes shine {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

/* Main Element */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  position: relative;
  margin: 0;
  padding: 0 !important;
  width: 100%;
  font-family: var(--body-font);
  font-size: 14px;
  color: var(--text-color);
  background: var(--body-bg);
  -webkit-font-smoothing: antialiased;
}

.container {
  margin: 0 auto;
  padding: 0;
  max-width: var(--content-width);
}

.header {
  &__wrap {
    position: relative;

    .container {
      position: relative;
      width: 100%;
    }
  }

  &__top {
    position: relative;
    width: 100%;
    background-color: var(--menu-bg);
    height: var(--top-header-height);

    nav {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        li {
          position: relative;
          height: var(--top-header-height);
          display: inline-flex;
          align-items: center;
        }
      }

      .link {
        display: inline-flex;
        align-items: center;
        height: 100%;
        padding: 0 14px;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        color: var(--white-color);

        &:hover {
          background-color: var(--primary-color);
          opacity: 1;
        }
      }
    }
  }

  &__middle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: var(--middle-header-height);
    padding: 0 20px;
    background-color: var(--header-bg);
  }

  &__bottom {
    position: relative;
    width: 100%;
    background-color: var(--menu-bg);
    height: var(--bottom-header-height);

    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;

        li {
          position: relative;
          height: var(--bottom-header-height);
          display: inline-flex;
          align-items: center;
        }
      }

      .link {
        display: inline-flex;
        align-items: center;
        height: 100%;
        padding: 0 18px;
        font-size: 13px;
        font-weight: 500;
        text-transform: uppercase;
        color: var(--white-color);

        &:hover {
          background-color: var(--primary-color);
          opacity: 1;
        }
      }
    }
  }

  &__search {
    width: 100%;
    max-width: 300px;
    padding-right: 20px;

    form {
      position: relative;
      width: 100%;
    }

    input {
      display: block;
      width: 100%;
      padding: 10px 54px 10px 16px;
      background-color: var(--white-color);
      font-size: 13px;
      font-weight: 500;
      outline: none;
      border: none;
      border-radius: 4px;

      &::-webkit-search-cancel-button {
        display: none;
      }

      &:focus ~ button[type="reset"],
      &:not(:placeholder-shown) ~ button[type="reset"] {
        opacity: 1;
      }
    }

    button {
      position: absolute;
      top: 0;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0;
      margin: 0;
      background-color: transparent;
      border: none;
      outline: none;
      z-index: 3;
      opacity: 0.9;

      svg {
        width: 20px;
        height: 20px;
        font-weight: 1.5px;
      }
    }

    button[type="submit"] {
      right: 8px;
    }

    button[type="reset"] {
      right: 34px;
      font-size: 12px;
      opacity: 0;
      transition: 0.1s ease;

      &::before {
        content: "✕";
      }
    }
  }
}

.navbar {
  &__title {
    h1,
    h2 {
      font-size: 36px;
      font-weight: 800;
      text-transform: uppercase;
    }

    .title {
      max-width: 260px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: block;
      color: var(--white-color);
    }
  }
}

.content {
  &__wrap {
    position: relative;
  }

  &__inner {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px;
    background-color: var(--content-bg);
  }
}

.main {
  flex: 0 0 calc(100% - 310px);
  max-width: calc(100% - 310px);
}

.aside {
  flex: 0 0 300px;
  max-width: 300px;
}

.post {
  &__empty {
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }

  &__title {
    a {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      color: var(--title-color);
    }
  }

  &__thumbnail {
    .image {
      position: relative;
      padding-top: 62%;
      height: 0;
      width: 100%;
      overflow: hidden;
      background-color: var(--line-color);
      border-radius: 2px;

      a.thumbnail {
        img {
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          max-width: none;
          height: 105%;
          max-height: 105%;
          transform: translate(-50%, -50%);
          transition: filter 0.5s ease;
        }

        &:hover {
          opacity: 1;

          img {
            filter: brightness(80%);
          }
        }
      }

      div.thumbnail {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: var(--body-bg);
        border: 1px solid var(--line-color);

        span {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 12px;
        }
      }
    }
  }

  &__snippet {
    line-height: 1.4rem;
    font-size: 14px;
    margin: 0;
    opacity: 0.9;
  }

  &__info {
    display: flex;
    align-items: center;
    font-size: 14px;
  }

  &__category {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &::before {
      content: attr(data-text);
      margin-right: 3px;
      font-size: 13px;
      opacity: 0.9;
    }

    a {
      color: var(--text-color);
    }

    > * {
      display: inline-block;
      color: var(--text-color);
    }
  }
}

.multi {
  .blog {
    &__posts {
      article {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
      }

      .post__thumbnail {
        flex: 0 0 42%;
        max-width: 42%;
        overflow: hidden;
      }

      .post__content {
        flex: 0 0 58%;
        max-width: 58%;
        padding: 10px 0 10px 10px;
      }

      .post__title {
        font-size: 20px;
        margin-bottom: 10px;
      }

      .post__info {
        > * {
          display: inline-flex;
          align-items: center;

          &:not(:last-child)::after {
            content: "";
            display: block;
            width: 4px;
            height: 4px;
            background-color: var(--icon-color);
            margin: 0 6px;
            border-radius: 500px;
          }
        }
      }

      .post__author {
        font-weight: 500;

        &::before {
          content: attr(data-text);
          font-size: 13px;
          font-weight: 400;
          margin-right: 3px;
          opacity: 0.9;
        }
      }

      .post__snippet {
        margin-top: 15px;
      }
    }

    &__pagination {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 40px;

      .link {
        display: inline-block;
        padding: 10px;
        border-radius: 4px;
        font-size: 14px;
        color: var(--white-color);
        background-color: var(--primary-color);
      }

      .next {
        margin-right: auto;
      }

      .prev {
        margin-left: auto;
      }
    }
  }
}

.single {
  .blog__posts {
    .post {
      &__breadcrumb {
        font-size: 13px;
        text-transform: capitalize;
        color: var(--text-color);
        margin-bottom: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        > * {
          display: inline;
          font-weight: 500;
        }

        > *:not(:last-child)::after {
          content: "/";
          opacity: 0.8;
        }

        a {
          color: inherit;
        }
      }

      &__info {
        margin-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid var(--line-color);

        > * {
          display: inline-flex;
          align-items: center;
        }

        > *:not(:last-child)::after {
          content: "";
          display: block;
          width: 4px;
          height: 4px;
          background-color: var(--icon-color);
          margin: 0 6px;
          border-radius: 500px;
        }
      }

      &__author {
        font-weight: 500;

        a {
          color: var(--text-color);
        }

        &::before {
          content: attr(data-text);
          font-size: 13px;
          font-weight: 400;
          margin-right: 3px;
          opacity: 0.9;
        }
      }

      &__entry {
        line-height: 1.6em;
        margin-top: 40px;
        font-size: 15px;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          margin: 1.7em 0 20px;
          font-weight: 800;
          line-height: 1.4em;

          &:target {
            margin: 0;
            padding-top: calc(var(--header-height) + 10px);
          }
        }

        p {
          margin: 1.7em 0;
        }

        img {
          display: inline-block;
          border-radius: 2px;
          height: auto !important;
        }

        ul,
        ol {
          padding-left: 30px;
        }

        ul ul,
        ul ol,
        ol ol,
        ol ul {
          font-size: 95%;
        }

        ol ul {
          list-style-type: disc;
        }

        a {
          font-weight: 500;
        }
      }

      &__share {
        margin: 22px 0;
        padding: 18px 0;
        border-bottom: 1px solid var(--line-color);

        .inner {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          position: relative;
          width: calc(100% + 18px);
          left: -9px;
          right: -9px;
          font-size: 14px;

          &::before {
            flex-shrink: 0;
            content: attr(data-text);
            margin: 0 9px;
          }

          a {
            margin: 0 5px;
            display: flex;
            align-items: center;
            color: var(--white-color);
            padding: 10px 14px;

            &.facebook {
              background-color: #1a4fc5;
            }

            &.twitter {
              background-color: #19abcc;
            }

            &.pinterest {
              background-color: #e62e3f;
            }

            &.whatsapp {
              background-color: #24cc63;
            }
          }
        }
      }
    }
  }
}

.footer {
  &__wrap {
    position: relative;

    .container {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 30px 20px;
      background-color: var(--footer-bg);
      color: var(--white-color);
      font-size: 14px;
    }
  }

  &__copyright {
    a {
      color: var(--white-color);
    }
  }

  &__list {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: inline-flex;
      align-items: center;

      li:not(:last-child) {
        margin-right: 20px;
      }
    }

    .link {
      display: inline-block;
      color: var(--white-color);
    }
  }
}
