<%- include("./partials/header") %>

<main class="main__wrap">
  <div class="container">
    <div class="editor__wrap">
      <div class="editor__header">
        <div class="editor__title">
          <input type="text" autocomplete="off" aria-label="Title" dir="ltr" placeholder="Post title" id="title" name="title" required />
        </div>

        <div class="editor__action">
          <a href="#" class="btn btn-light">Preview</a>
          <div class="btn btn-primary">Publish</div>
        </div>
      </div>

      <div class="editor__content">
        
      </div>
    </div>
  </div>
</main>