<%- include("./partials/header") %>

<div class="content__wrap">
  <%- include("./partials/sidebar") %>

  <div class="main__wrap">
    <div class="error__wrap">
      <div class="error__container">
        <div class="error__content">
          <div class="error__inner">
            <h3 class="error__code">
              <span class="text">404</span>
            </h3>

            <div class="error__title">
              <span class="text">Opps! Page not found</span>
            </div>

            <div class="error__message">
              <span class="text">The page you were looking for doesn't exist.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("./partials/footer") %>