<!DOCTYPE html>
<html lang="en">

<head>
  <title><%- blog.title %></title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="<%- blog.homepageUrl %>/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="<%- blog.homepageUrl %>/admin/css/forms.min.css">
</head>

<body>
  <div class="main__wrap">
    <div class="main__container">
      <div class="main__content">
        <div class="main__inner">
          <h1 class="main__title">
            <span class="title">Setup</span>
          </h1>

          <form class="main__form" action="" method="post">
            <div class="main__form-group">
              <input type="text" name="blogname" id="blogname" autocomplete="off" placeholder="Blog name" required>
              <label for="blogname">Blog name</label>
            </div>

            <div class="main__form-group">
              <input type="text" name="username" id="username" autocomplete="off" placeholder="Username" required>
              <label for="username">Username</label>
            </div>

            <div class="main__form-group">
              <input type="text" name="name" id="name" autocomplete="off" placeholder="Name" required>
              <label for="name">Name</label>
            </div>

            <div class="main__form-group">
              <input type="email" name="email" id="email" autocomplete="off" placeholder="email@examples.com" required>
              <label for="email">Email</label>
            </div>

            <div class="main__form-group">
              <input type="password" name="password" id="password" placeholder="Password" required>
              <label for="password">Password</label>
            </div>

            <div class="main__form-submit">
              <button type="submit">Signin</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>