<!DOCTYPE html>
<html lang="en">

<head>
  <title>Signin</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
  <div class="main__wrap">
    <div class="main__container">
      <div class="form__wrap">
        <div class="form__inner">
          <h1 class="form__title">
            <span class="title">Signin</span>
          </h1>

          <form action="" method="post">
            <div class="form__group">
              <input type="text" name="username" id="username" autocomplete="off" placeholder="Username" required>
              <label for="username">Username</label>
            </div>

            <div class="form__group">
              <input type="password" name="password" id="password" placeholder="Password" required>
              <label for="password">Password</label>
            </div>

            <div class="form__button">
              <button type="submit">Signin</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>