<!DOCTYPE html>
<html lang="en">

<head>
  <title>Signin</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="/admin/css/forms.min.css">

</head>

<body>
  <div class="main-wrap">
    <div class="main-container">
      <div class="main-content">
        <div class="main-inner">
          <h1 class="main-title">
            <span class="title">Signin</span>
          </h1>

          <% if (message.length > 0) { %>
          <div class="main-message" role="alert">
            <span class="message"><%- message %></span>
            <button class="button" aria-label="Close">
              <svg viewBox="0 0 24 24">
                <path d="M 4.7070312 3.2929688 L 3.2929688 4.7070312 L 10.585938 12 L 3.2929688 19.292969 L 4.7070312 20.707031 L 12 13.414062 L 19.292969 20.707031 L 20.707031 19.292969 L 13.414062 12 L 20.707031 4.7070312 L 19.292969 3.2929688 L 12 10.585938 L 4.7070312 3.2929688 z"></path>
              </svg>
            </button>
          </div>
          <% } %>

          <form class="main-form" action="" method="post">
            <div class="main-form-group">
              <input type="text" name="username" id="username" autocomplete="off" placeholder="Username" required>
              <label for="username">Username</label>
            </div>

            <div class="main-form-group">
              <input type="password" name="password" id="password" placeholder="Password" required>
              <label for="password">Password</label>
            </div>

            <div class="main-form-button">
              <button type="submit">Signin</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>